body{
    margin: 0;
    zoom: 100%;
    max-width: max-content;
}
h1, p, a, h2, h3, button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#header{
    background-color: #1F2937;
    padding-bottom: 5%;
    
}
#header .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-bottom: 1%;
    margin-right: 5%;
    color: white;
}
#header .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width:500;
    margin-left: 10%;
    margin-right: 5%;
}
#content .top{
    display: flex;
    flex-direction: column;

}
#content .top div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#content .top h3{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
#content .top p{
    font-size: 12px;
    color: darkslategrey;
    font-weight:lighter;
    white-space: pre-wrap;
}
#content .top .imagediv div{
    flex-direction: column;
}
#content .top .imagediv div img{
    border: 3px solid #3882F6;
    height: 100px;
    width: 100px;
    margin-right: 30px;
}

/*Links at the top right of the page*/
.hero-secondary a{
    font-size: 14px;
    color: #E5E7EB;
    margin-right: 25px;
    font-weight:lighter;
}

#logo{
    border: 10px;
}

#header .bottom .main p{
    white-space: pre-wrap;
    margin-right: 10%;
    color: white;
}
#header .bottom .main h1{
    font-size: 24px;
    color: #F9FAf8;
}
#header .bottom .main button{
    background-color: #3882F6;
    border-radius: 8px;
    padding: 6px 22px;
    font-weight: bolder;
    color:white;
    border:0;
}
#header .bottom img{
    height: 160px;
    width: 480px;
}






* div {
    border: 1px solid red;
}